html {
	font-family: Trebuchet, sans;
	font-weight: bold;
}

html, body {
	margin: 0;
	padding: 0;	
}

body {
	background-color: #FFFFDC;	
}

#gora, #prawo, #dol, #lewo, #pokaz, #przelaczniki {
	position: absolute;
	color: white;

}

#gora {
	top: 0;
	text-align: center;
}

#prawo {
	right: 0;
}

#dol {
	bottom: 0;
	width: 100%;
}

#lewo {
	left: 0;
}

#gora, #przelacznik_gory {
	background-color: #349F3F;
}

#prawo, #przelacznik_prawego {
	background-color: #1E90FF;
}

#dol, #przelacznik_dolu {
	background-color: #E8D937;
}

#lewo, #przelacznik_lewego {
	background-color: #FD8E80;
}



#pokaz {
	overflow: hidden;
	background-color: black;
	text-align: center;
}

#przelaczniki {
	top: 0px;
	right: 57px;
}

#przelaczniki div {
	padding: 1px;
	margin-right: 3px;
	width: 16px;
	height: 16px;
	float: left;
	border: 1px solid white;
}

#przelaczniki div:hover {
	background-color: red;
}

#dol {
	overflow: hidden;
}

#dol #miniatury {
	white-space: nowrap;
}

#dol #miniatury img {
	margin: 5px;
	margin-top: 8px;
}

